<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
<head>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-8151765868745893",
    enable_page_level_ads: true
  });
</script>
<meta charset="UTF-8">
<meta name="keywords" content="free psd templates, free template,free html template, free bootstrap template" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="p:domain_verify" content="9725921a167c440fd728c8ef48c014f3"/>
<link rel="profile" href="http://gmpg.org/xfn/11">
<link rel="pingback" href="http://grafreez.com/xmlrpc.php">
<title>Page not found - Grafreez</title>

<!-- This site is optimized with the Yoast SEO plugin v4.2.1 - https://yoast.com/wordpress/plugins/seo/ -->
<meta name="robots" content="noindex,follow"/>
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="object" />
<meta property="og:title" content="Page not found - Grafreez" />
<meta property="og:site_name" content="Grafreez" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="Page not found - Grafreez" />
<meta name="twitter:site" content="@grafreez_admin" />
<!-- / Yoast SEO plugin. -->

<link rel='dns-prefetch' href='//fonts.googleapis.com' />
<link rel='dns-prefetch' href='//s.w.org' />
<link rel="alternate" type="application/rss+xml" title="Grafreez &raquo; Feed" href="http://grafreez.com/feed/" />
<link rel="alternate" type="application/rss+xml" title="Grafreez &raquo; Comments Feed" href="http://grafreez.com/comments/feed/" />
		<script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.2.1\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.2.1\/svg\/","svgExt":".svg","source":{"concatemoji":"http:\/\/grafreez.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.7.3"}};
			!function(a,b,c){function d(a){var b,c,d,e,f=String.fromCharCode;if(!k||!k.fillText)return!1;switch(k.clearRect(0,0,j.width,j.height),k.textBaseline="top",k.font="600 32px Arial",a){case"flag":return k.fillText(f(55356,56826,55356,56819),0,0),!(j.toDataURL().length<3e3)&&(k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,57331,65039,8205,55356,57096),0,0),b=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,57331,55356,57096),0,0),c=j.toDataURL(),b!==c);case"emoji4":return k.fillText(f(55357,56425,55356,57341,8205,55357,56507),0,0),d=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55357,56425,55356,57341,55357,56507),0,0),e=j.toDataURL(),d!==e}return!1}function e(a){var c=b.createElement("script");c.src=a,c.defer=c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g,h,i,j=b.createElement("canvas"),k=j.getContext&&j.getContext("2d");for(i=Array("flag","emoji4"),c.supports={everything:!0,everythingExceptFlag:!0},h=0;h<i.length;h++)c.supports[i[h]]=d(i[h]),c.supports.everything=c.supports.everything&&c.supports[i[h]],"flag"!==i[h]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[i[h]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
		</script>
		<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>
<link rel='stylesheet' id='font-awesome-css'  href='http://grafreez.com/wp-content/themes/awaken/css/font-awesome.min.css?ver=4.4.0' type='text/css' media='all' />
<link rel='stylesheet' id='bootstrap.css-css'  href='http://grafreez.com/wp-content/themes/awaken/css/bootstrap.min.css?ver=all' type='text/css' media='all' />
<link rel='stylesheet' id='animate.css-css'  href='http://grafreez.com/wp-content/themes/awaken/css/animate.min.css?ver=all' type='text/css' media='all' />
<link rel='stylesheet' id='awaken-style-css'  href='http://grafreez.com/wp-content/themes/awaken/style.css?ver=4.7.3' type='text/css' media='all' />
<link rel='stylesheet' id='awaken-fonts-css'  href='//fonts.googleapis.com/css?family=Ubuntu%3A400%2C500%7CSource+Sans+Pro%3A400%2C600%2C700%2C400italic%7CRoboto+Condensed%3A400italic%2C700%2C400&#038;subset=latin%2Clatin-ext' type='text/css' media='all' />
<link rel='stylesheet' id='add-flex-css-css'  href='http://grafreez.com/wp-content/themes/awaken/css/flexslider.css?ver=4.7.3' type='text/css' media='screen' />
<script type='text/javascript' src='http://grafreez.com/wp-includes/js/jquery/jquery.js?ver=1.12.4'></script>
<script type='text/javascript' src='http://grafreez.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>
<script type='text/javascript' src='http://grafreez.com/wp-content/themes/awaken/js/scripts.js?ver=4.7.3'></script>
<!--[if lt IE 9]>
<script type='text/javascript' src='http://grafreez.com/wp-content/themes/awaken/js/respond.min.js?ver=4.7.3'></script>
<![endif]-->
<!--[if lt IE 9]>
<script type='text/javascript' src='http://grafreez.com/wp-content/themes/awaken/js/html5shiv.js?ver=4.7.3'></script>
<![endif]-->
<link rel='https://api.w.org/' href='http://grafreez.com/wp-json/' />
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://grafreez.com/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://grafreez.com/wp-includes/wlwmanifest.xml" /> 
<meta name="generator" content="WordPress 4.7.3" />
<style></style><link rel="icon" href="http://grafreez.com/wp-content/uploads/2016/08/cropped-favicon-32x32.jpg" sizes="32x32" />
<link rel="icon" href="http://grafreez.com/wp-content/uploads/2016/08/cropped-favicon-192x192.jpg" sizes="192x192" />
<link rel="apple-touch-icon-precomposed" href="http://grafreez.com/wp-content/uploads/2016/08/cropped-favicon-180x180.jpg" />
<meta name="msapplication-TileImage" content="http://grafreez.com/wp-content/uploads/2016/08/cropped-favicon-270x270.jpg" />
<style>
html{margin-top:0px!important}
</style>
</head>

<body class="error404">
<div id="page" class="hfeed site">
	<a class="skip-link screen-reader-text" href="#content">Skip to content</a>
	<header id="masthead" class="site-header" role="banner">
		
	
	<div class="site-branding">
		<div class="container">
			<div class="site-brand-container">
										<div class="site-logo">
							<a href="http://grafreez.com/" rel="home"><img src="http://grafreez.com/wp-content/uploads/2017/01/grafreez.png" alt="Grafreez - Free Bootstrap "></a>
						</div>
								</div><!-- .site-brand-container -->
            
            <div class="header-ad">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- top-banner -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-8151765868745893"
     data-ad-slot="8625891960"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
            </div>
		</div>
	</div>
<div class="affix" data-spy="affix" data-offset-top="200">
	<div class="nav-container">
    <div class="container">
		<div class="awaken-navigation-container">
			<nav id="site-navigation" class="main-navigation cl-effect-10" role="navigation">
				<div class="menu-home-menu-container"><ul id="menu-home-menu" class="menu"><li id="menu-item-61" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-61"><a href="http://grafreez.com">Home</a></li>
<li id="menu-item-115" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-115"><a href="http://grafreez.com/free-bootstrap-templates/">HTML Templates</a></li>
<li id="menu-item-116" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-116"><a href="http://grafreez.com/psd-templates/">PSD Templates</a></li>
<li id="menu-item-427" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-427"><a href="http://grafreez.com/bootstrap-starter-templates/">Starter Templates</a></li>
<li id="menu-item-406" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-406"><a href="http://grafreez.com/free-wordpress-themes/">WordPress Themes</a></li>
<li id="menu-item-253" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-253"><a href="http://grafreez.com/blog/">Blog</a></li>
<li id="menu-item-117" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-117"><a href="http://grafreez.com/about-us/">About Us</a></li>
<li id="menu-item-118" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-118"><a href="http://grafreez.com/contact-us/">Contact us</a></li>
</ul></div>			</nav><!-- #site-navigation -->
			<a href="#" class="navbutton" id="main-nav-button">Main Menu</a>
			<div class="responsive-mainnav"></div>

			<div class="awaken-search-button-icon"></div>
			<div class="awaken-search-box-container">
				<div class="awaken-search-box">
					<form action="http://grafreez.com/" id="awaken-search-form" method="get">
						<input type="text" value="" name="s" id="s" />
						<input type="submit" value="Search" />
					</form>
				</div><!-- th-search-box -->
			</div><!-- .th-search-box-container -->
		</div><!-- .awaken-navigation-container-->
	</div>
    </div>
    </div>
    <!-- .container -->
	</header><!-- #masthead -->

	<div id="content" class="site-content">
    

	
<div class="container m-top">

<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-8 ">
	<div id="primary" class="content-area">
		<main id="main" class="site-main" role="main">

			<section class="error-404 not-found">
				<header class="page-header">
					<h1 class="page-title">Oops! That page can&rsquo;t be found.</h1>
				</header><!-- .page-header -->

				<div class="page-content">
					<p>It looks like nothing was found at this location. Maybe try one of the links below or a search?</p>

					<form role="search" method="get" class="search-form" action="http://grafreez.com/">
				<label>
					<span class="screen-reader-text">Search for:</span>
					<input type="search" class="search-field" placeholder="Search &hellip;" value="" name="s" />
				</label>
				<input type="submit" class="search-submit" value="Search" />
			</form>
				</div><!-- .page-content -->
			</section><!-- .error-404 -->

		</main><!-- #main -->
	</div><!-- #primary -->
	</div><!-- bootstrap cols -->
	<div class="col-xs-12 col-sm-6 col-md-4">
		
<div id="secondary" class="main-widget-area" role="complementary">
	<aside id="text-3" class="widget widget_text">			<div class="textwidget"><script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Sidebar-banner-2 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:336px;height:280px"
     data-ad-client="ca-pub-8151765868745893"
     data-ad-slot="3637289165"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script></div>
		</aside><style>.rpwe-block ul{
list-style: none !important;
margin-left: 0 !important;
padding-left: 0 !important;
}

.rpwe-block li{

margin-bottom: 10px;
padding-bottom: 10px;
list-style-type: none;
}

.rpwe-block a{
display: inline !important;
text-decoration: none;
}

.rpwe-block h3{
background: none !important;
clear: none;
margin-bottom: 3px !important;
margin-top: 3px !important;
font-weight: 600;
font-size: 17px !important;
line-height: 24px;
}

.rpwe-thumb{
box-shadow: none !important;
margin: 2px 10px 2px 0;
padding: 3px !important;
}

.rpwe-summary{
font-size: 12px;
}

.rpwe-time{
color: #bbb;
font-size: 11px;
}

.rpwe-comment{
color: #bbb;
font-size: 11px;
padding-left: 5px;
}

.rpwe-alignleft{
display: inline;
float: left;
}

.rpwe-alignright{
display: inline;
float: right;
}

.rpwe-aligncenter{
display: block;
margin-left: auto;
margin-right: auto;
}

.rpwe-clearfix:before,
.rpwe-clearfix:after{
content: "";
display: table !important;
}

.rpwe-clearfix:after{
clear: both;
}

.rpwe-clearfix{
zoom: 1;
}

.rpwe-title{font-size:18px!important}
</style><aside id="rpwe_widget-2" class="widget rpwe_widget recent-posts-extended"><div class="widget-title-container"><h1 class="widget-title">Recent Posts</h1></div><div  class="rpwe-block "><ul class="rpwe-ul"><li class="rpwe-li rpwe-clearfix"><a class="rpwe-img" href="http://grafreez.com/394/fitness-website-template/"  rel="bookmark"><img class="rpwe-alignleft rpwe-thumb" src="http://grafreez.com/wp-content/uploads/2016/12/burnout-post-image-150x100.jpg" alt="Burnout &#8211; Bootstrap 4 Fitness Website Template"></a><h3 class="rpwe-title"><a href="http://grafreez.com/394/fitness-website-template/" title="Permalink to Burnout &#8211; Bootstrap 4 Fitness Website Template" rel="bookmark">Burnout &#8211; Bootstrap 4 Fitness Website Template</a></h3></li><li class="rpwe-li rpwe-clearfix"><a class="rpwe-img" href="http://grafreez.com/356/business-landing-page/"  rel="bookmark"><img class="rpwe-alignleft rpwe-thumb" src="http://grafreez.com/wp-content/uploads/2016/11/aqua-post-image-2-150x100.jpg" alt="Aqua &#8211; Bootstrap 4 Business Landing Page Template"></a><h3 class="rpwe-title"><a href="http://grafreez.com/356/business-landing-page/" title="Permalink to Aqua &#8211; Bootstrap 4 Business Landing Page Template" rel="bookmark">Aqua &#8211; Bootstrap 4 Business Landing Page Template</a></h3></li><li class="rpwe-li rpwe-clearfix"><a class="rpwe-img" href="http://grafreez.com/331/agency-website-template/"  rel="bookmark"><img class="rpwe-alignleft rpwe-thumb" src="http://grafreez.com/wp-content/uploads/2016/11/bureau-post-image-150x100.jpg" alt="Bureau &#8211; A Free Agency Website Template PSD"></a><h3 class="rpwe-title"><a href="http://grafreez.com/331/agency-website-template/" title="Permalink to Bureau &#8211; A Free Agency Website Template PSD" rel="bookmark">Bureau &#8211; A Free Agency Website Template PSD</a></h3></li><li class="rpwe-li rpwe-clearfix"><a class="rpwe-img" href="http://grafreez.com/314/travel-tourism-website-template/"  rel="bookmark"><img class="rpwe-alignleft rpwe-thumb" src="http://grafreez.com/wp-content/uploads/2016/10/voyage-thumbnail-image-150x100.jpg" alt="Voyage &#8211; Bootstrap Travel and Tourism Website Template"></a><h3 class="rpwe-title"><a href="http://grafreez.com/314/travel-tourism-website-template/" title="Permalink to Voyage &#8211; Bootstrap Travel and Tourism Website Template" rel="bookmark">Voyage &#8211; Bootstrap Travel and Tourism Website Template</a></h3></li></ul></div><!-- Generated by http://wordpress.org/plugins/recent-posts-widget-extended/ --></aside><aside id="text-4" class="widget widget_text">			<div class="textwidget"><script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Sidebar-banner-long -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:600px"
     data-ad-client="ca-pub-8151765868745893"
     data-ad-slot="1480741564"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script></div>
		</aside><aside id="text-5" class="widget widget_text">			<div class="textwidget"><a href="http://www.elegantthemes.com/affiliates/idevaffiliate.php?id=36751_5_1_18" target="_blank" rel="nofollow"><img style="border:0px" src="http://www.elegantthemes.com/affiliates/media/banners/divi_300x250.jpg" width="300" height="250" alt="Divi WordPress Theme"></a></div>
		</aside><aside id="text-2" class="widget widget_text"><div class="widget-title-container"><h1 class="widget-title">Newsletter</h1></div>			<div class="textwidget"><div class="subscription-box">


<h2>
  Stay Updated with New Templates<br>
  <small>Keep yourself ahead with new free templates by subscribing our mailing list!</small>
</h2>

<div class="input-group">

<div id="mc_embed_signup">
<form action="//grafreez.us14.list-manage.com/subscribe/post?u=dcc005e08c42c2600801a0f6f&amp;id=3ff5fb8c03" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_dcc005e08c42c2600801a0f6f_3ff5fb8c03" tabindex="-1" value=""></div>
    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default">
    </div>
</form>
</div>

    </div>

</div></div>
		</aside></div><!-- #secondary -->
	</div><!-- .bootstrap cols -->
</div><!-- .row -->

		</div><!-- container -->

	</div><!-- #content -->



<section class="about-sec">

  <div class="container">
  
  <div class="footer-ad">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- footer-banner -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-8151765868745893"
     data-ad-slot="5114022365"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
  </div>

    <div class="row">

      <div class="col-md-4">

        <h2>About Grafreez</h2>

        <p>Grafreez help you to create your own websites quickly and easily. We have collection of best bootstrap theme and psd designs on our website for free download. you can use these designs as per you need.</p>

        <a href="http://grafreez.com/about-us/" alt="About Grafreez" class="btn btn-default">Read more About us</a>

      </div>

      <div class="col-md-4">

        <h2>Twitter Bootstrap</h2>

        <p>Twitter Bootstrap is one of the best framework for building websites nowdays. According to <a href= "http://trends.builtwith.com/docinfo/Twitter-Bootstrap" target="_blank" alt="Built with trends of Twitter Bootstrap" > Built-with</a> there are over 10 millions sites currently using Bootstrap framework.</p>

        <a href="http://getbootstrap.com/" target="_blank" alt="Official website of Twitter Bootstrap" class="btn btn-default">Visit official website</a>

      </div>

      <div class="col-md-4">

        <h2>Adobe Photoshop</h2>

        <p>Adobe photoshop is the best editing software which is easy to use and hard to master. A superior choice for the most of web designers around the world over other editing programmes. </p>

        <a href="http://www.adobe.com/in/products/photoshop.html" target="_blank" alt="Official website of Adobe Photoshop" class="btn btn-default">Download Photoshop</a>

      </div>

    </div>

  </div>

</section>    

      

    <div class="subscription-sec">

    <div class="container">

<div class="subscription-box">





<h2>

  Stay Updated with New Templates<br>

  <small>Keep yourself ahead with new free templates by subscribing our mailing list!</small>

</h2>



<div class="input-group">



<div id="mc_embed_signup">

<form action="//grafreez.us14.list-manage.com/subscribe/post?u=dcc005e08c42c2600801a0f6f&amp;id=3ff5fb8c03" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

    <div id="mc_embed_signup_scroll">

	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>

    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->

    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_dcc005e08c42c2600801a0f6f_3ff5fb8c03" tabindex="-1" value=""></div>

    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default">

    </div>

</form>

</div>



    </div>



</div>

    </div>

    </div>



	<footer id="colophon" class="site-footer" role="contentinfo">

		<div class="container">

			<div class="row">

				<div class="footer-widget-area">

					<div class="col-md-4">

						<div class="left-footer">

							<div class="widget-area" role="complementary">

								


								
							</div><!-- .widget-area -->

						</div>

					</div>

					

					<div class="col-md-4">

						<div class="mid-footer">

							<div class="widget-area" role="complementary">

								


								
							</div><!-- .widget-area -->						</div>

					</div>



					<div class="col-md-4">

						<div class="right-footer">

							<div class="widget-area" role="complementary">

								


								
							</div><!-- .widget-area -->				

						</div>

					</div>						

				</div><!-- .footer-widget-area -->

			</div><!-- .row -->

		</div><!-- .container -->	



		<div class="footer-site-info">	

			<div class="container">

				<div class="row">

                <div class="col-md-3 copy-text">Copyright © 2017 Grafreez.com | <a href="http://grafreez.com/sitemap_index.xml" alt="site map">Site Map</a></div>

                <div class="col-md-4 pull-right"><span class="img-block"><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a></span><span class="text-block">This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.</span></div>

                </div>

			</div><!-- .container -->

		</div><!-- .site-info -->



	</footer><!-- #colophon -->

</div><!-- #page -->





        <!-- 
            Lockers: user tracker for visibility filters
            OnePress, bizpanda.com
        -->
        <script>
            window.__bp_session_timeout = '900';
            window.__bp_session_freezing = 0;
            !function(){window.bizpanda||(window.bizpanda={}),window.bizpanda.bp_can_store_localy=function(){return!1},window.bizpanda.bp_ut_get_cookie=function(e){for(var n=e+"=",i=document.cookie.split(";"),o=0;o<i.length;o++){for(var t=i[o];" "==t.charAt(0);)t=t.substring(1);if(0==t.indexOf(n))return decodeURIComponent(t.substring(n.length,t.length))}return!1},window.bizpanda.bp_ut_set_cookie=function(e,n,i){var o=new Date;o.setTime(o.getTime()+24*i*60*60*1e3);var t="expires="+o.toUTCString();document.cookie=e+"="+encodeURIComponent(n)+"; "+t+"; path=/"},window.bizpanda.bp_ut_get_obj=function(e){var n=null;return(n=window.bizpanda.bp_can_store_localy()?window.localStorage.getItem("bp_ut_session"):window.bizpanda.bp_ut_get_cookie("bp_ut_session"))?(n=n.replace(/\-c\-/g,","),n=n.replace(/\-q\-/g,'"'),n=JSON.parse(n),n.started+1e3*e<(new Date).getTime()&&(n=null),n):!1},window.bizpanda.bp_ut_set_obj=function(e,n){e.started&&window.__bp_session_freezing||(e.started=(new Date).getTime());var e=JSON.stringify(e);e&&(e=e.replace(/\"/g,"-q-"),e=e.replace(/\,/g,"-c-")),window.bizpanda.bp_can_store_localy()?window.localStorage.setItem("bp_ut_session",e):window.bizpanda.bp_ut_set_cookie("bp_ut_session",e,5e3)},window.bizpanda.bp_ut_count_pageview=function(){var e=window.bizpanda.bp_ut_get_obj(window.__bp_session_timeout);e||(e={}),e.pageviews||(e.pageviews=0),0===e.pageviews&&(e.referrer=document.referrer,e.landingPage=window.location.href,e.pageviews=0),e.pageviews++,window.bizpanda.bp_ut_set_obj(e)},window.bizpanda.bp_ut_count_locker_pageview=function(){var e=window.bizpanda.bp_ut_get_obj(window.__bp_timeout);e||(e={}),e.lockerPageviews||(e.lockerPageviews=0),e.lockerPageviews++,window.bizpanda.bp_ut_set_obj(e)},window.bizpanda.bp_ut_count_pageview()}();
        </script>
        <!-- / -->
            <script type='text/javascript' src='http://grafreez.com/wp-content/themes/awaken/js/navigation.js?ver=20120206'></script>
<script type='text/javascript' src='http://grafreez.com/wp-content/themes/awaken/js/bootstrap.min.js?ver=4.7.3'></script>
<script type='text/javascript' src='http://grafreez.com/wp-content/themes/awaken/js/skip-link-focus-fix.js?ver=20130115'></script>
<script type='text/javascript' src='http://grafreez.com/wp-content/themes/awaken/js/jquery.flexslider-min.js?ver=4.7.3'></script>
<script type='text/javascript' src='http://grafreez.com/wp-content/themes/awaken/js/awaken.slider.js?ver=4.7.3'></script>
<script type='text/javascript' src='http://grafreez.com/wp-includes/js/wp-embed.min.js?ver=4.7.3'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var countVars = {"disqusShortname":"grafreez"};
/* ]]> */
</script>
<script type='text/javascript' src='http://grafreez.com/wp-content/plugins/disqus-comment-system/media/js/count.js?ver=4.7.3'></script>







<script>

  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){

  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),

  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)

  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');



  ga('create', 'UA-82921805-1', 'auto');

  ga('send', 'pageview');



</script>



</body>

</html>
<!-- Performance optimized by W3 Total Cache. Learn more: https://www.w3-edge.com/products/

Object Caching 1050/1059 objects using disk
Page Caching using disk: enhanced
Database Caching 5/10 queries in 0.001 seconds using disk

 Served from: grafreez.com @ 2017-03-25 22:10:51 by W3 Total Cache -->